.header {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: red;
    justify-content: space-between;
    grid-area: header;
}
.header div {
    margin: 20px;
    font-size: x-large;
    color: white;
}
.account {
    padding-right: 70px;
    font-size: medium;
    cursor: pointer;
    color: white;
}
